<div class="consumer-page" style="background-image: url(<%=  asset_path('homepage.png') %>); background-size: cover; background-position: center; height: 100vh;" >

      <!-- Recyclable logo-->

 <div style="margin-top: 60px"><%= image_tag 'main-logo.png', class: 'mainlogo'%> </div>


       <!-- If user signed in section logic-->


  <% if !user_signed_in? %>
  <div class="textbox">
      Recycling can be confusing but it doesn't have to be.<br>
      Sign in and sort it out!
      </div>
    <%= link_to "Sign up", new_user_registration_path, class: "btn sign-up-btn"%>
    <%= link_to "Sign in", new_user_session_path, class: "btn sign-in-btn" %>
  <% else  %>

        <!-- Consumer navbar-->

 <%= render "shared/navbar"%>

    <div class="consumer-container">
      <div class="textbox">
        <p>Recyclable...or not? <br>Find out if your item is recyclable or if it should go into general waste instead.</p>
      </div>
      <div class="consumerheading">
        <p class="m-0"> Let's sort it out!</p>
      </div>
      <div class="background3">
        <div class="youritem">
          <%= form_tag products_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "What's your item?"
            %>
            <div class="youritembtn">
              <%= submit_tag "Search", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <%end%>
</div>
