<%
=begin%>
 <div style="background-image: url(<%=  asset_path('homepage.png') %>); background-size: cover; background-position: center; height: 100vh;" >
<%
=end%>
<div style="background-image: url(<%=  asset_path('homepage.png') %>); background-size: cover; background-position: center; height: 100vh; background-repeat: repeat" >

<div class="container-index">
<%= render "shared/navbar"%>
  <div class="heading55" style="padding-top: 65px;">
    <h5> Similar content, better packaging!<br> <%= @alternatives.count %> alternatives for you!</h5>
  </div>

  <%@alternatives.uniq.each do |alternative| %>

  <div class="card-box">
    <div class="images"> <%= cl_image_tag alternative.photo.key, height: 100, width: 100, crop: :fill %></div>
      <div style="font-size: 30px; color: green; padding-top: 7px; padding-right: 7px;">
        <i class="far fa-check-circle"></i>
      </div>
      <div class="text"><p> <%= link_to alternative.name, product_path(alternative)%></p></div>
      <% if alternative.favorites.where(user: current_user).empty? %>
              <%= simple_form_for [alternative, Favorite.new], remote: true do |f| %>
                <%= f.button :button, type: :submit, class: "favorite-star" do %>
                  <i class="far fa-star"></i>
                <% end %>
              <%end%>
            <% else %>
              <%= link_to favorite_path(alternative.favorites.find_by_user_id(current_user.id)), method: :delete, remote: true, class: "favorite-star" do %>
                <i class="fas fa-star"></i>
              <%end%>
      <%end%>
    </div>

  <% end %>


</div>
