<div style="background-image: url(<%= image_path 'sign_in.jpg' %>); background-size: cover; background-position: center; height: 100vh">
<div class="container">

  <h4>Alternative page</h4>

  <div class="heading5">
    <h5> We've found <%= @alternatives.count %> alternatives for you!</h5>
  </div>



  <%@alternatives.each do |alternative| %>

  <div class="box">
    <p> <%= cl_image_tag alternative.photo.key, height: 150, width: 150, crop: :fill %>
      <div class="text">
        <%= link_to alternative.name, product_path(alternative),class: 'product_box'%></div></p>
    </div>
  <% end %>
  <%= link_to "back to results", product_path(@product) %>

</div>
