<div class="container-index">
 <%= render "shared/navbar_producer"%>

<div class="form">
  <%= simple_form_for [@product] do |f| %>
    <%= f.input :name %>
    <%= f.input :photo %>
    <%= f.association :materials, multiple: true, collection: Material.all.map { |m| [ "#{m.name} - #{m.category}", m.id ] } %>
    <%= f.submit "Save changes" %>
  <% end %>
  <%= link_to "back", user_path(current_user) %>
</div>






