

<div class="container ">
<%= render "shared/navbar"%>


  <div id="carouselExampleIndicators" class="carousel slide" data-ride="false">

    <ol class="carousel-indicators">

      <% @products.each_with_index do |product, index| %>

        <% if index == 0 %>
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>

        <% else %>
          <li data-target="#carousel-example-generic" data-slide-to="#{index}"></li>
        <% end %>
      <% end %>

    </ol>


    <canvas id="my-canvas"></canvas>
    <h3 class="game-text">Test <u> your</u> knowledge by guessing what items can be recycled</h3>
    <div class="carousel-inner">
      <% @products.each_with_index do |product, index| %>

      <% if index == 0 %>
      <div class="carousel-item active">
        <div class="recyclable-message-game">
          <div class="game-image"><%= cl_image_tag product.photo.key, height: 150, width: 150, crop: :fill %></div>
          <h5 class= "game-title"><%= product.name %></h5>
          <div class="carousel-answer-option-wrapper">
            <%= content_tag "div", id: "green-answer#{index}", class: "green-answer", data: {recyclability: product.fully_recyclability} do %>
              <div style="font-size: 45px; color: green">
                <i class="far fa-check-circle"></i>


              </div>
            <% end %>
            <div style="font-size: 45px; color: red" class="red-answer" id="red-answer<%= index %>" data-recyclability="<%= product.fully_recyclability %>">
              <i class="fas fa-exclamation-circle"></i>
            </div>
            <div style="font-size: 45px; color: orange" class="orange-answer" data-recyclability="<%= product.fully_recyclability %>" >
              <i class="fas fa-exclamation-circle"></i>
            </div>
          </div>
        </div>
      </div>
      <% else %>
        <div class="carousel-item">
          <div class="recyclable-message-game">
            <div class="game-image"><%= cl_image_tag product.photo.key, height: 150, width: 150, crop: :fill %></div>
            <h5 class="game-title"><%= product.name %></h5>
            <div class="carousel-answer-option-wrapper">
              <%= content_tag "div", id: "green-answer#{index}", class: "green-answer", data: {recyclability: product.fully_recyclability} do %>
                <div style="font-size: 45px; color: green">
                  <i class="far fa-check-circle"></i>
                </div>
              <% end %>
              <div style="font-size: 45px; color: red" class="red-answer" id="red-answer<%= index %>">
                <i class="fas fa-exclamation-circle"></i>
              </div>
              <div style="font-size: 45px; color: orange" class="orange-answer" data-recyclability="<%= product.fully_recyclability %>">
                <i class="fas fa-exclamation-circle"></i>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      INFO
    </button>
  </div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><span id="green-icon">GREEN</span> - Completely recyclable</p>
        <p><span id="red-icon">RED</span> - It cannot be recycled </p>
        <p><span id="orange-icon">ORANGE</span> - Some of the contents are recyclable</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



</div>




