<!-- <ul class="navbar-recyclable">
    <li>
      <%= link_to "make another search", root_path(current_user)  %>
    </li>
    <li><%= link_to "Sign out", destroy_user_session_path(@user), method: :delete %></li>
  </ul> -->

<div class="container">

  <div>
    <h1 id="title">New Game</h1>
    <h3>Test your knowledge by guessing what items can be recycled</h3>
  </div>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="false">
    <ol class="carousel-indicators">
      <% @products.each_with_index do |product, index| %>
        <% if index == 0 %>
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <% else %>
          <li data-target="#carousel-example-generic" data-slide-to="#{index}"></li>
        <% end %>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <% @products.each_with_index do |product, index| %>
      <% if index == 0 %>
      <div class="carousel-item active">
        <div class="recyclable-message">
          <div><%= cl_image_tag product.photo.key, height: 150, width: 150, crop: :fill %></div>
          <h5><%= product.name %></h5>
          <div class="carousel-answer-option-wrapper">
            <%= content_tag "div", id: "green-answer#{index}", class: "green-answer", data: {recyclability: product.fully_recyclability} do %>
              <div style="font-size: 45px; color: green">
                <i class="far fa-check-circle"></i>
              </div>
            <% end %>
            <div style="font-size: 45px; color: red" class="red-answer" id="red-answer<%= index %>">
              <i class="fas fa-exclamation-circle"></i>
            </div>
           <!--  <div style="font-size: 45px; color: orange" >
              <i class="fas fa-exclamation-circle"></i>
            </div> -->
          </div>
        </div>
      </div>
      <% else %>
        <div class="carousel-item">
          <div class="recyclable-message">
            <div><%= cl_image_tag product.photo.key, height: 150, width: 150, crop: :fill %></div>
            <h5><%= product.name %></h5>
            <div class="carousel-answer-option-wrapper">
              <%= content_tag "div", id: "green-answer#{index}", class: "green-answer", data: {recyclability: product.fully_recyclability} do %>
                <div style="font-size: 45px; color: green">
                  <i class="far fa-check-circle"></i>
                </div>
              <% end %>
              <div style="font-size: 45px; color: red" class="red-answer" id="red-answer<%= index %>">
                <i class="fas fa-exclamation-circle"></i>
              </div>
              <!-- <div style="font-size: 45px; color: orange">
                <i class="fas fa-exclamation-circle"></i>
              </div> -->
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>




