<div style="background-image: url(<%= image_path 'sign_in.jpg' %>); background-size: cover; background-position: center; height: 100vh">
<div class="container">

  <h1> <%= @products.count %> We've found something for you!</h1>

  <% @products.each do |product| %>
    <p><%= cl_image_tag product.photo.key, height: 150, width: 150, crop: :fill %><%= link_to product.name, product_path(product) %></p>
  <% end %>

  <h5><%=link_to "make another search", user_path(current_user), class: 'make_another_search' %></h5>

</div>