<!-- Start of page -->

<div class="container">

<div class="container-index">
  <%
=begin%>
 <ul class= "navbar-recyclable">
    <li class="newzi"><%= link_to "New search", user_path(current_user), class: "newzi2" %></li>
    <li><%= link_to image_tag('main-logo.png'), user_path(current_user), class: "logo-navbar"%></li>
  </ul>
<%
=end%>

<%= render "shared/navbar"%>
    </div>

    <div class="card-wrapper">
       <h5> We found <%= @products.count %> products for you!</h5>
    <% if @products.any? %>
      <% @products.each do |product| %>
        <div id="card-<%= product.id %>" class="card-box">
          <div class="images"><%= cl_image_tag product.photo.key, height: 100, width: 100, crop: :fill if product.photo.attached? %></div>
          <% if product&.fully_recyclability.round == 100 %>
            <div class="star1">
            <div style="font-size: 30px; color: green; padding-top: 7px; padding-right: 7px;">
              <i class="far fa-check-circle"></i>
            </div>
            </div>
          <% elsif product&.fully_recyclability.round == 0 %>
            <div style="font-size: 30px; color: red; padding-top: 7px; padding-right: 7px;">
              <i class="fas fa-exclamation-circle"></i>
            </div>
          <%else%>
            <div style="font-size: 30px; color: orange; padding-top: 7px; padding-right: 7px;">
              <i class="fas fa-exclamation-circle"></i>
            </div>
          <%end%>
          <div class="text"><p><%= link_to product.name, product_path(product)%></p> </div>
          <% if product.favorites.where(user: current_user).empty? %>
            <%= simple_form_for [product, Favorite.new], remote: true do |f| %>
              <%= f.button :button, type: :submit, class: "favorite-star" do %>
                <i class="far fa-star"></i>
              <% end %>
            <%end%>
          <% else %>
            <%= link_to favorite_path(product.favorites.find_by_user_id(current_user.id)), method: :delete, remote: true, class: "favorite-star" do %>
              <i class="fas fa-star"></i>
            <%end%>
          <%end%>
        </div>
      <% end %>
    </div>
    <% else %>
      <h2>
        Sorry no product found !
      </h2>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener('turbolinks:load', () => {
    if (localStorage['scroll']) {
      window.scroll({ top: localStorage['scroll'] });
    }
    window.addEventListener('scroll', () => {
      localStorage['scroll'] = window.scrollY;
    })
  });
</script>
