<div class="container">

<%= simple_form_for [@product] do |f| %>
  <%= f.input :name %>
  <%= f.input :category, collection: ['chocolate', 'rice', 'pizza'] %>
  <%= f.input :photo %>
  <%= f.association :materials, multiple: true %>
  <%= f.submit %>
<% end %>


<%= link_to "back", user_path(current_user) %>
</div>

