<div class="container">
<div style="background-image: url(<%=  asset_path('homepage.png') %>); background-size: cover; background-position: center; height: 100vh;" >
<div class="card1">
<%= simple_form_for [@product] do |f| %>
  <%= f.input :name %>
  <%= f.input :category, collection: ['chocolate', 'rice', 'pizza'] %>
  <div class="photo-upload">
  <%= f.input :photo %>
  </div>
  <%= f.association :materials, multiple: true %>
  <div class="submit">
  <%= f.submit %>
</div>
<% end %>
</div>
<%= link_to "back", user_path(current_user) %>
</div>

