<div class="container-index">
  <%= render "shared/navbar_producer"%>



 <div class="form-style-9">
  <%= simple_form_for [@product] do |f| %>
  <ul>
    <li>
    <%= f.input :name, class: "field-style field-split align-left" %>
    <%= f.input :category, collection: Product.pluck(:category).uniq, class: "" %>
    <%= f.input :photo %>
    <%= f.association :materials, multiple: true, collection: Material.all.map { |m| [ "#{m.name} - #{m.category}", m.id ] } %>
    <%= f.submit "Add Product" %>
    </li>
  </ul>

    <% end %>
    <%= link_to "back", user_path(current_user) %>

</div>

