<div class="container">

  <h2>Product name: <%= @product.name %></h2>
  <h3>Category: <%= @product.category %></h3>


  <% if @product.photo.attached? %>
    <%= cl_image_tag @product.photo.key, height: 300, width: 300, crop: :fill %>
  <% end %>

  <div>
    <% if @product&.fully_recyclability.round == 100 %>
        <p>Great news! This piece of packaging is made of</p>
        <ul>
        <% @materials.each do |material|%>
        <li><%= material.name %></li>
        <%end%>
        </ul>
    <% else %>
        <% recyclable_materials = @materials.select {|material| material.recyclability}  %>
        <% not_recyclable_materials = @materials - recyclable_materials %>
        <p>Unfortunately, this product is not fully recyclable.</p>
        <p>This is the non recyclable material in your product:</p>
        <ul>
        <% not_recyclable_materials.each do |material|%>
        <li> <%= material.name%></li>
        <%end%>
        </ul>
        <% if recyclable_materials.any?%>
        <p>This is the recyclable material in your product:</p>
        <ul>
        <% recyclable_materials.each do |material|%>
        <li> <%= material.name%></li>
        <%end%>
        </ul>
        <%end%>
        <p>Would you like to buy more sustainable products in the future? <strong><%= link_to "We found these alternatives for you!", products_path %></strong></p>
    <% end %>

    <%= link_to "back to results", products_path %>
  </div>

</div>
