<div class="container">
<div style="background-image: url(<%=  asset_path('homepage.png') %>); background-size: cover; background-position: center; height: 120vh" >

<div class="title_4">
  <h2><%= @product.name %></h2>
</div>

  <% if @product.photo.attached? %>
  <div class= "pic">
    <%= cl_image_tag @product.photo.key, height: 150, width: 150, crop: :fill %>
  </div>
  <% end %>

<div class="text">
  <div>
    <% if @product&.fully_recyclability.round == 100 %>
        <p>Great news! The packaging is made of</p>
          <ul>
          <% @materials.each do |material|%>
            <p class="materialname"><%= material.name %></p>
          <%end%>
          </ul>
        <p> It's fully recyclable! Please put it in your recycling bin.</p>
        <p>TIP: Empty and rinse before recycling! Food and liquid can spoil whole loads of recycling and then it just ends up in landfill or incinerated</p>
    <% elsif @product&.fully_recyclability.round == 0 %>
        <p>Sorry! The packaging is made of</p>
          <ul>
          <% @materials.each do |material|%>
          <li><%= material.name %></li>
          <%end%>
          </ul>
        <p> It's not recyclable! Please put it in your general waste bin.</p>
        <p>TIP! Buy more sustainable products in the future <strong><%= link_to "We found these alternatives for you!", alternatives_product_path(@product) %></strong></p>
    <% else %>
        <% recyclable_materials = @materials.select {|material| material.recyclability}  %>
        <% not_recyclable_materials = @materials - recyclable_materials %>
        <p>This packaging is made up of different materials. Before putting it into the bin, let's separate the components!</p>

          <% if recyclable_materials.any?%>
          <p>Recyclable material in your product:</p>
          <ul>
            <% recyclable_materials.each do |material|%>
            <li> <%= material.name%></li>
            <%end%>
            </ul>
          <%end%>
          <p>Non recyclable material in your product:</p>
          <ul>
            <% not_recyclable_materials.each do |material|%>
            <li> <%= material.name%></li>
            <%end%>
            </ul>
          <p>TIP! Buy more sustainable products in the future <strong><%= link_to "We found these alternatives for you!", alternatives_product_path(@product) %></strong></p>
    <% end %>
    <div class="zizi">
    <%= link_to "back to results",products_path %>
   </div>
  </div>
</div>
