<%
=begin%>
 <div class="container">
<div style="background-image: url(<%=  asset_path('homepage.png') %>); background-size: cover; background-position: center; height: 120vh" >
<%
=end%>
<div class="consumer-page" style="background-image: url(<%=  asset_path('sign_in.jpg') %>); background-size: cover; background-position: center" >
<div class="container-index">
<%= render "shared/navbar"%>

<div class="text">
  <div>
    <% if @product&.fully_recyclability.round == 100  && @product.photo.attached?%>
      <div class="recyclable-message">

      <h5 class="product-name"><%= @product.name %></h5>
          <div class="product-image"><%= cl_image_tag @product.photo.key, height: 150, width: 150, crop: :fill %></div>      
        <div class="message-positive">

          <ul style="list-style-type: none; margin: 0px; padding: 0px">
          <% @materials.each do |material|%>
            <li>This item is made of: <%= material.name %></li>
          <%end%>
          </ul>
          <p>It is fully recyclable and can go into your recycling bin.</p>
          <div style="font-size: 55px; color: green">
            <i class="far fa-check-circle"></i> 
          </div>
        </div>
        <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Did you know?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <p> Food and liquid can spoil whole loads of recycling which then end up in landfill or incinerated.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
        <div class="tip"><strong>TIP:</strong> Empty and rinse before recycling!
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          <i class="fas fa-info"></i>
        </button>
        </div>
        <div class="zizi"><%= link_to "Search another item", root_path(current_user)%></div>
    <% elsif @product&.fully_recyclability.round == 0 %>
      <div class="recyclable-message">
      <h5 class="product-name"><%= @product.name %></h5>
      <div><%= cl_image_tag @product.photo.key, height: 150, width: 150, crop: :fill %></div>
      <div class="message-negative">
      <ul style="list-style-type: none; margin: 0px; padding: 0px">
        <% @materials.each do |material|%>
          <li>This item is made of: <%= material.name %></li>
        <%end%>
      </ul>
    <p>This type of material cannot be recycled yet! Make sure you put it into the general waste bin.</p>
    </div>
    <div style="font-size: 55px; color: red">
      <i class="fas fa-exclamation-circle"></i></div>
    <div class="tip"><strong>TIP:</strong> Buy more sustainable products in the future!</div>
    <div class="zizi">
      <%= link_to "Search alternatives!", alternatives_product_path(@product) %>
    </div>
    <% else %>
        <% recyclable_materials = @materials.select {|material| material.recyclability}  %>
        <% not_recyclable_materials = @materials - recyclable_materials %>

          <div class="recyclable-message">
            <p style="font-size: 18px;"><%= @product.name %></p>
            <div class="product-image"><%= cl_image_tag @product.photo.key, height: 150, width: 150, crop: :fill %></div>
              <p>This item is made of different materials. Before putting it into the bin, let's separate the components!</p>
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Recyclable</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Non Recyclable</a>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <% if recyclable_materials.any?%>
                  <% recyclable_materials.each do |material|%>
                  <li style="list-style-type: none; margin-top:18px;"><%= material.name%></li>
                  <%end%>
                  <div style="font-size: 30px; color: green; padding-top: 7px; padding-right: 7px;">
                  <i class="far fa-check-circle"></i>
                  </div>
                <% else%>
                <li>No recyclable materials</li>
                <%end%>
                </div>
                  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <% not_recyclable_materials.each do |material|%>
                  <li style="list-style-type: none;  margin-top:18px;"><%= material.name%></li>
                  <%end%>
                  <div style="font-size: 30px; color: red; padding-top: 7px; padding-right: 7px;">
                    <i class="fas fa-exclamation-circle"></i>
                  </div>
                  </div>
              </div>
            <div class="tip"><strong>TIP:</strong> Buy more sustainable products in the future.</div>
            <div class="zizi">
            <%= link_to "Search alternatives!", alternatives_product_path(@product) %>
            </div>
    <% end %>
</div>
</div>


