<div class="container">




  <h2>Product name: <%= @product.name %></h2>
  <h3>Category: <%= @product.category %></h3>
  <h3>Material: <%= @material&.category %></h3>

  <% if @product.photo.attached? %>
    <%= cl_image_tag @product.photo.key, height: 300, width: 300, crop: :fill %>
  <% end %>
  <div>
    <p><%= link_to "Delete",  product_path(@product), method: :delete %> <%= link_to"create new", new_product_path(@product) %>

  </div>
</div>
