<%
=begin%>
 <div class="container">
<div style="background-image: url(<%=  asset_path('homepage.png') %>); background-size: cover; background-position: center; height: 120vh" > 
<%
=end%>

<div class="container-index">
<ul class= "navbar-recyclable"> 
  <li><%= image_tag 'main-logo.png', class: "logo-navbar"%></li> 
  <li style="padding-top: 12px; padding-right: 10px;"><%= link_to "Back", user_path(current_user) %></li>
  </ul>
<div class="search-result-card" style="margin-top: 80px;">
  <% if @product.photo.attached? %>
  <div class= "pic">
    <%= cl_image_tag @product.photo.key, height: 100, width: 100, crop: :fill %>
  <% end %>
  </div>
  <div class="product-title">
    <h2><%= @product.name %></h2>
  </div>
</div>

<div class="text">
  <div>
    <% if @product&.fully_recyclability.round == 100 %>
      <div class="recyclable-message">
      <p style="font-size: 24px;">Great news!</p>
      <div style="font-size: 60px; color: green">
        <i class="far fa-check-circle"></i> </div>
          <ul style="list-style-type: none; margin: 0px; padding: 0px">
          <% @materials.each do |material|%>
            <li>This item is made of: <%= material.name %></li>
          <%end%>
          </ul>
        <p>The packaging is therefore fully recyclable and can go straight into your recycling bin.</p>
        <div class="tip"><strong>TIP:</strong> Empty and rinse before recycling! Food and liquid can spoil whole loads of recycling which then end up in landfill or incinerated.
        </div>
    <% elsif @product&.fully_recyclability.round == 0 %>
        <div class="recyclable-message">
        <p style="font-size: 24px;">Not so great!</p>
        <div style="font-size: 60px; color: red">
        <i class="fas fa-exclamation-circle"></i></div>
          <ul style="list-style-type: none; margin: 0px; padding: 0px">
          <% @materials.each do |material|%>
            <li>This item is made of: <%= material.name %></li>
          <%end%>
          </ul>
        <p>This type of material cannot be recycled! Make sure you put it into the general waste bin.</p>
        <div class="tip"><strong>TIP:</strong> Buy more sustainable products in the future <strong><br><%= link_to "We found these alternatives for you!", alternatives_product_path(@product)%></strong>
      </div>
    <% else %>
        <% recyclable_materials = @materials.select {|material| material.recyclability}  %>
        <% not_recyclable_materials = @materials - recyclable_materials %>
        <div class="recyclable-message">
        <p style="font-size: 24px;">Not too bad, almost there!</p>
        <div style="font-size: 60px; color: orange">
        <i class="fas fa-exclamation-circle"></i></div>
        <p>This item is made up of different materials. Before putting it into the bin, let's separate the components!</p>
          <% if recyclable_materials.any?%>
            <ul style="list-style-type: none; margin: 0px; padding: 0px">
              <% recyclable_materials.each do |material|%>
              <li>Recyclable material: <%= material.name%></li>
              <%end%>
              </ul>
            <%end%>
            <ul style="list-style-type: none; margin: 0px; padding: 0px">
              <% not_recyclable_materials.each do |material|%>
              <li>Non recyclable material: <%= material.name%></li>
              <%end%>
              </ul>
        <div class="tip"><strong>TIP:</strong>Buy more sustainable products in the future.<br> <%= link_to "We found these alternatives for you!", alternatives_product_path(@product) %></div>
    <% end %>
    <div class="zizi">
    <%= link_to "back to results",products_path %>
   </div>
</div>
</div>
